<!-- Side navigation -->
<div class="sidenav">
  <a href="/files/<%=subject%>?file=timetable">Timetable</a>
  <a href="/files/<%=subject%>?file=Study Plan">Study Plan</a>
  <a href="/files/<%=subject%>?file=Question Papers">Question Papers</a>
  <a href="/files/<%=subject%>?file=Lab Manual">Lab Manual</a>
</div>
