<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

<link rel="stylesheet" type="text/css" href="/admin.css" />

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Admin </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form  action='/register' method='get'class="form-inline my-2 my-lg-0">

      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Register</button>
    </form>
    <form class="/admin/addsubject" action="post" method="post">
      <button type="button" class="btn btn-outline-warning">Add subject</button>
    </form>
  </div>
</nav>


</div>
</div>
</form>
<div class="row">
                   <!-- column -->
                   <div class="col-sm-12">
                       <div class="card">
                           <div class="card-block">
                               <h4 class="card-title">Assign Course</h4>
                               <!-- <div class="flot-chart">
                                   <div class="flot-chart-content" id="flot-line-chart"></div>
                               </div> -->
                               <form role="form" data-toggle="validator" class="shake" method="post" action="/admin/assign">
                                       <div class="row">
                                         <div class="col">
                                                 <label for="teacher">Select Teacher</label>
                                                 <select class="form-control"id ='teacher' name="teacherName">
                                                   <%user.forEach(function(usr){ %>
                                                      <option><%= usr.username ; %> </option>
                                                   <% }) ;%>
                                                 </select>
                                         </div>
                                           <div class="col">
                                                   <label for="course">Select Course</label>
                                                   <select class="form-control"  id ='course' name="courseName">
                                                   <option name=" ">OOPM</option>
                                                   <option name="">TCS</option>
                                                   <option name="">BIG DATA</option>
                                                   <option name="">DATA STRUCTURES</option>

                                                   </select>
                                           </div>

                                           <div class="col">
                                             <label for="scode">Subject Cdde</label>
                                             <input class="form-control" type="text" name="subjectCode" id='scode' value="Enter subject code">
                                           </div>
                                       </div>

                                        <br>
                                         <button name="submit" type="submit" id="form-submit" class="btn btn-success btn-md pull-right ">Submit</button>
                                         <div id="msgSubmit" class="h3 text-center hidden"></div>
                                         <div class="clearfix"></div>
                                     </form>
                               </form>
                           </div>
                       </div>
                   </div>
