<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<form action =<%= '/subject/'+subject+'/CO' %> method="POST">
	<input type="text" name="name" placeholder="CO Name">
	<input type="text" name="number" placeholder="Course no" >
	<input type="text" name="blooms" placeholder="blooms level">
	<button>Submit </button>
</form>
</body>
</html>
