<!DOCTYPE html>
<html>
<% include ./partials/header %>

  <body>

<%= data %>

		<form action ='co' method="POST">
			<input type="text" name="name" placeholder="CO Name">
			<input type="text" name="number" placeholder="Course no">
			<input type="text" name="blooms" placeholder="blooms level">
			<button>Submit</button>
		</form>


    <% include ./partials/footer %>
  </body>

</html>
