<!DOCTYPE html>
<html>
<% include ./partials/header %>

  <body>
<div style="width:100%;border:1px solid black">
  <h4> Your COs </h4>
</div>
<br>
<br>
<% for( var a in data ){%>
<%=data[a].number + " -- " +  data[a].name + " -- " + data[a].blooms + " -- "  %>
<br>
<hr>
<% }%>
<hr>
<br>
		<form action ='co' method="POST">
			<input type="text" name="name" placeholder="CO Name">
			<input type="text" name="number" placeholder="Course no">
			<input type="text" name="blooms" placeholder="blooms level">
			<button>Submit</button>
		</form>


    <% include ./partials/footer %>
  </body>

</html>
