<!DOCTYPE html>
<html>
<% include ./partials/header %>
  <body>


<h3> My dashboard is Lit</h3>


<h5> <%= "Subject is " + subject %> </h5>

<br>
<br>
<br>
<br>
<br>
<br><br>

    <% include ./partials/footer %>
  </body>

</html>
