<!DOCTYPE html>


<html>
<% include ./partials/header %>

  <body>



    <%# WRITE YOUR HTML INSIDE THIS %>

      <form ref='uploadForm' id='uploadForm' action='/upload' method='post' encType="multipart/form-data">
        <input type="file" name="timetable" />
        <input type="text" name="header" placeholder="filename">
        <input type='submit' value='Upload!' />
        <input type="text"  name="Student Name Column Number" placeholder="Student Name Column Number" value=""><br><br>
        <input type="text"  name="Attendance Column Number" placeholder="Attendance Column Number" value=""><br><br>
        <input type="text"  name="Minimum Percentage" placeholder="Minimum Percentage" value=""><br><br>
        <button type="submit" class="btn btn-primary btn-lg">Submit</button>
      </form>


      <% include ./partials/footer %>
  </body>

</html>
