<!DOCTYPE html>


<html>
<% include ./partials/header %>

  <body>



    <%# WRITE YOUR HTML INSIDE THIS %>

      <form ref='uploadForm' id="upload-file"  method='post' encType="multipart/form-data">
        <input type="file" id='selected-file' name="selected-file" />

    <!--    <input type="text" name="header" placeholder="filename"> -->
        <input type='submit' value='Upload!' /><br><br>
        <input type="text"  name="Sheet_Number" placeholder="Sheet Number" value=""><br><br>
          <input type="text"  name="Student_Name__Header" placeholder="Student Header Name " value=""><br><br>
        <input type="text"  name="Attendance__Header" placeholder="Attendance Header Name" value=""><br><br>
        <input type="text"  name="Minimum_Percentage" placeholder="Minimum Percentage" value=""><br><br>
        <button type="submit" class="btn btn-primary btn-lg">Submit</button>
      </form>


      <% include ./partials/footer %>
  </body>

</html>
