<!DOCTYPE html>
<html>
<% include ./partials/header %>

  <body>

		<h3>Teacher's viewing area </h3>
		<ol>
			<li> <a href="./dashboard/OOPM"> OOPM </a> </li>
			<li> <a href="./dashboard/BDA"> BDA </a> </li>
		<ol>


    <% include ./partials/footer %>
  </body>

</html>
