<!DOCTYPE html>
<html>
<% include ./partials/header %>

  <body>

    <h3>Teacher's viewing area </h3>
    <ol>
      <% subjects.forEach(function(sub){%>
        <li>
          <a href="/dashboard/<%=sub.name%>">
            <%= sub.name %>
          </a>

        </li>
        <%  })%>
          <ol>


            <% include ./partials/footer %>
  </body>

</html>
