<!DOCTYPE html>
<html>
<% include ./partials/header %>
  <link href="http://fonts.googleapis.com/css?family=Cabin:400,500,600,bold" rel="stylesheet" type="text/css">

  <link href="http://fonts.googleapis.com/css?family=PT+Sans+Narrow:regular,bold" rel="stylesheet" type="text/css">




  <body>


    <div class="container">

      <br>
      <br>
      <br>
      <br>
      <br>

      <div class="card" style="width: 100%;font-size:24px;text-align:center">
        <div class="card-header">
          Your Subjects
        </div>
        <ul class="list-group list-group-flush">
          <% subjects.forEach(function(sub){%>
            <li class="list-group-item">
              <a href="/dashboard/<%=sub.name%>/2018" class="button">
                        <span>    <%= sub.name %> </span>
                    </a>
            </li>
            <%  })%>
        </ul>
      </div>


    </div>

    <% include ./partials/footer %>
  </body>

</html>
