<form action='/login' method='POST'>
	<input type="text" name="user[name]" placeholder="username">
	<input type="password" name="user[password]" placeholder="password">
	<button>Submit</button>
</form>