
<!DOCTYPE html>
<html>
<% include ./partials/header %>

  <body>

    <h2>Login</h2>
    <form action='/login' method='POST'>
      <div class="form-group">
        <label for="name">Username</label>
        <input type="text" class="form-control" id="name" name="username" value="swati" placeholder="Enter username">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" value="swati" name ="password" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-primary">Login</button>
    </form>



    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>


    <% include ./partials/footer %>
  </body>

</html>
