<!DOCTYPE html>
<html>
<% include ./partials/header %>

  <body>

    <div class="row">
      <div class="col-12">
        <table>
          <th>Tool Name</th>
          <th>Point Achieved</th>
          <% tools.forEach(function (tool) { %>
            <tr>
              <td> <%= tool.tool.name %> </td>
              <td> <%= tool.point %> </td>
            </tr>
          <% }) %>
        </table>




      </div>

    </div>


    <% include ./partials/footer %>
  </body>

</html>
