<%include partials/adminheader %>

<ol class="list-group">
  <%subjects.forEach(function(subject){%>
  <li  class="list-group-item  list-group-item-action list-group-item-dark"><a  name="<%=subject.name%>"class='sublist' href="/dashboard/<%=subject.name%>" ><%=subject.name %></a> <select name="year">
    <option value="2013">2013</option>
    <option value="2012">2012</option>
    <option value="2011">2011</option>
    <option value="2010">2010</option>
    <option value="2009">2009</option>
    <option value="2008">2008</option>
    <option value="2007">2007</option>
    <option value="2006">2006</option>
    <option value="2005">2005</option>
    <option value="2004">2004</option>
    <option value="2003">2003</option>
    <option value="2002">2002</option>
    <option value="2001">2001</option>
    <option value="2000">2000</option>
  </select></li>
<%})%>
</ol>
<script type="text/javascript">
  $('[name="year"]').change(function(){
    var year=$(this).val();
    var subName;
    $('.sublist').click(function(){
    subName =  $(this).attr("name");
          $('.sublist').attr('href',"/dashboard/"+subName+"/"+year);
        });
})
</script>
