<!DOCTYPE html>
<html>
<body>

<select>
	<% tools.forEach(function(tool){ %>
  <option>  <%=tool.name%> </option>
 <% });%>
</select>
  
  <select>
	<% cos.forEach(function(coo){ %>
  <option>  <%=coo.co%> </option>
 <% });%>
</select>
</body>
</html>
