<!DOCTYPE html>
<html>
<% include ./partials/header %>

	<body>
	
 	<div class="offset-5 col-sm-6">
 	<span>
 	<h3>My Tools</h3>
 	<ul>
		<% for (t in thisToolNames ){ %>
		<li><h5> <%= thisToolNames[t] %> </h5></li>
	    <% } %>
	</ul>
	</span>		
	</div>
 	<div class="col-sm-6">
 		<form action="/tool" %> method="POST">
				<span>
				<select name="tool" id="dropdown">
				<% for(t in allTools){ %>
					<option value="<%= allTools[t]._id%>" > <%= allTools[t].name %> </option>
				<%}%>
				</select>
				<br>
				<input type="text" name="weightage" placeholder="Weightage"><br>
				<input type="text" name="targetStudent" placeholder="Target students"><br>
				<input type="text" name="totalMark" placeholder="Total Marks"><br>
				<input type="text" name="totalStud" placeholder="Total students"><br>
				<input type="text" name="high" placeholder="high"><br>
				<input type="text" name="mid" placeholder="mid"><br>
				<input type="text" name="low" placeholder="low"><br>
				<select name="toolType">
				<option value="Direct" >Direct</option>
				<option value="Indirect" >Indirect</option>
				</select><br>
				<button>Submit </button>
			</span>
		</form>
	</div>

			


			<% include ./partials/footer %>
	</body>

</html>
