<!DOCTYPE html>
<html>
<% include ./partials/header %>

	<body>



		<%# WRITE YOUR HTML INSIDE THIS %>
			<form action="/add/tools" method='POST'>
				<select name="tool">
	<% tools.forEach(function(tool){ %>
  <option value=<%=tool.toolName%> >  <%=tool.toolName%> </option>
 <% });%>
</select>

				<select name="cos">
	<% cos.forEach(function(coo){ %>
  <option value=<%=coo.coName%>>  <%=coo.coName%> </option>
 <% });%>

</select>
				<button>Submit </button>
			</form>


			<% include ./partials/footer %>
	</body>

</html>
