<!DOCTYPE html>
<html>
<% include ./partials/header %>

	<body>
		<!-- Awesome script to Uploading Jquery Form -->
		<script src="http://malsup.github.com/jquery.form.js"></script>
		<style media="screen">
			input {
				display: inline-block;

				border-radius: 5px;
			}
		</style>


		<form ref='uploadForm' id="upload-file"  action='/upload' method='post' encType="multipart/form-data">
			<input type="file" id='selected-file' name="selected-file" />
		</form>


		<br>
		<hr>


<select name="" id="dropdown" class="to-dropdown">
		<% tools.forEach(function(tool){ %>
			<option value="<%= tool._id %>">
				<%= tool.name %>
			</option>
				<br>
			<% });%>
</select>

				<br>
				<hr>


				<ol name="coName " id="coList">

				</ol>




				<% include ./partials/footer %>

					<script>
						// Dynamic Loading of Tools
						$('.to-dropdown').click(function() {
							var toolID = $("#dropdown option:selected ").val();
							console.log(toolID);
							$.get('/api/<%=subject%>/co/' + toolID, function(data, status) {
								console.log(data);
								var tools = [];
								data.forEach(function(cos) {
									console.log(cos.name);
									tools.push(
										'<form method="post" action=/upload/xlsx/<%=subject%>' + '/'+cos._id+'/'+toolID + '>' +
											'<li> ' + cos.name +
											'  ' + '<input type="text" name="header" placeholder="header"/>'+
											'<input type="submit" value="submit">' + '</form>' + ' </li> '
									)
								})
								console.log(tools);
								$('#coList').html(tools.join(' '))
							});

						})

						$('#selected-file').change(function() {
							console.log("file selected ");
							$("#upload-file ").trigger('submit');
						})

						var fil = $("#upload-file ");

						fil.submit(function(e) {

							console.log("inside submit ");
							e.preventDefault();
							var url = "/upload ";
							$(this).ajaxSubmit({
								contentType: 'application/json',
								success: function(data) {
									console.log(data);
								}
							});

						})
					</script>
	</body>

</html>
