<!DOCTYPE html>
<html>
<% include ./partials/header %>

	<body>
		<% for(t in tools){ %>
		<%= tools[t].name + " ====== "+ tools[t].weightage + " ====== "+ tools[t].toolType + " ====== " %>
		<a href=<%=  "/dashboard/co/"+ coID + "/" +tools[t]._id+"/delete" %> >Delete</a>
		<br>
		<hr>
		<%}%>

			<form action=<%= 'Tool' %> method="POST">
				<input type="text" name="name" placeholder="name">
				<input type="text" name="weightage" placeholder="weightage">
				<input type="text" name="targetStudent" placeholder="targetStudent">
				<input type="text" name="targetMark" placeholder="targetMark">
				<input type="text" name="totalStud" placeholder="totalStud">
				<input type="text" name="high" placeholder="high">
				<input type="text" name="mid" placeholder="mid">
				<input type="text" name="low" placeholder="low">
				<select name="toolType">
				<option value="Direct" >Direct</option>
				<option value="Indirect" >Indirect</option>
				</select>
				<button>Submit </button>
			</form>


			<% include ./partials/footer %>
	</body>

</html>
