<html>
  <body>
    <form ref='uploadForm'
      id='uploadForm'
      action='/upload'
      method='post'
      encType="multipart/form-data">
      <input type="text" name="folder" placeholder="folder name">
        <input type="file" name="sampleFile" />
        <input type='submit' value='Upload!' />
    </form>
  </body>
</html>
