<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<form action ='/display' method="POST">
	<input type="text" name="cname" placeholder="Enter course objective">
<input type="text" name="cno" placeholder="Course no" >
<input type="text" name="blooms" > 

	<button>Submit </button>
</form>
</body>
</html>