footer {
    clear: both;
    position: relative;
    z-index: 10;
    height: 5em;
    margin-top: -3em;
    background-color: black;
    color: white;
    text-align: center;
    font-weight: lighter;
}


#footer
{
    position: relative;;
    left: 0;
    bottom: 0;
    margin-top: 150px;
  /* negative value of footer height */

    height: 150px;
    background-color: black;
}

.sidenav {
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 15%;
    left: 10px;
    background: black;
    overflow-x: hidden;
    padding: 8px 0;
    color: white;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #2196F3;
    display: block;
}

.sidenav a:hover {
    color: #064579;
}

.main {
    margin-left: 140px; /* Same width as the sidebar + left position in px */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
