footer {
    clear: both;
    position: relative;
    z-index: 10;
    height: 5em;
    margin-top: -3em;
    background-color: black;
    color: white;
    text-align: center;
    font-weight: lighter;
}


#footer
{
    position: relative;;
    left: 0;
    bottom: 0;
    margin-top: 150px;
  /* negative value of footer height */

    height: 150px;
    background-color: black;
}
